.content {
    padding: 7px;
    /*max-width: 800px;*/
    width: 100%;
    color: black;
    display: grid;
    grid-gap: 20px;
}
/*span {
    color: navy;
}
p {
    color: white;
}*/

@media only screen and (max-width : 1920px) {
}
@media only screen and (max-width : 1600px) {
}
@media only screen and (max-width : 1280px) {
}
@media only screen and (max-width : 1024px) {
    .content{
        margin-top: 50px;
    }
}
@media only screen and (max-width : 460px) {
}