{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/content/products/rip.css' %}" />
<div class="photo" style="background-image: url(/media/{{ image1 }});"></div>
<div class="description">
    <div class="text">
        <p>Универсальная платформа серии Generic выполнена в стандартных корпусах типа Rackmount. В зависимости от мощности могут исполняться в 1U-3U для интеграции в мощные платформы, так и для дискретного использования в телекоммуникационном и радиолокационном оборудовании, машиностроении, энергетике, безопасности, лазерной технике, и др. </p>
        <p>Серия Generic  может поставляться с различным входным напряжением от 0 до 600В, как переменного, так и постоянного тока. Ряд выходных напряжений до 600 В с возможностью регулировки суммарно от 1 до 600 В, высокий КПД (до 97%), ЭМС по ГОСТ 30804.6.4-2013, адаптивное охлаждение при температуре окружающей среды от -20 до +50°С. Встроенное цифровое управление с интерфейсом связи RS 485 позволяет объединять в параллель для решения разнообразных задач благодаря широкому набору регулировок и сервисных функций.</p>
    </div>
    <div class="table">
        <div>
            <p><b>GEN15-A220-50</b></p>
            <p class="min">Входное напряжение, В</p>
            <p>~220(170...260)</p>
            <p class="min">Выходное напряжение, В</p>
            <p>50 (0-100%)</p>
            <p class="min">Выходная мощность, Вт</p>
            <p>1500</p>
        </div>
        <div>
            <p><b>GEN30-A220-50</b></p>
            <p class="min">Входное напряжение, В</p>
            <p>~220(170...260)</p>
            <p class="min">Выходное напряжение, В</p>
            <p>50 (0-100%)</p>
            <p class="min">Выходная мощность, Вт</p>
            <p>3000</p>
        </div>
        <div>
            <p><b>GEN50-A220-50</b></p>
            <p class="min">Входное напряжение, В</p>
            <p>~220(170...260)</p>
            <p class="min">Выходное напряжение, В</p>
            <p>50 (0-100%)</p>
            <p class="min">Выходная мощность, Вт</p>
            <p>5000</p>
        </div>
        <div>
            <p><b>GEN250-A220-50</b></p>
            <p class="min">Входное напряжение, В</p>
            <p>~220(170...260)</p>
            <p class="min">Выходное напряжение, В</p>
            <p>50 (0-100%)</p>
            <p class="min">Выходная мощность, Вт</p>
            <p>25000</p>
        </div>
    </div>
</div>
