{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/products/rip.css' %}" />
<div class="photo" style="background-image: url(/media/{{ image1 }})">

</div>
<div class="description">
    <div class="text">
        <p>Регулируемые источники электропитания серии PAD, PDD* представляют собой импульсные AC/DC преобразователи напряжения мощностью 250 до 1500 Вт, с глубокой регулировкой выходного напряжения от 0 до 100%.</p>
        <p>Отличительной особенностью серии PROTON от обычных AC-DC преобразователей является возможность работы как в стандартном режиме стабилизации напряжения, так и в режиме стабилизации выходного тока.</p>
        <p>Дополнительная функция заряда АКБ обеспечивает безразрывное питание аппаратуры как от сети 220В, так и от резервной АКБ при пропадании основного питания и его обратном восстановлении.</p>
        <p>Универсальные преобразователи PROTON нашли широкое применение в системах электропитания для нужд энергетического сектора, телекоммуникаций, промышленной аппаратуры ответственных сфер применения.</p>
        <p class="warning">* При доработке по ТЗ заказчика</p>
    </div>
    <div class="files">
        <div class="icon"></div>
        <p><a href="/media/file.pdf">Краткая техническая информация</a></p>
    </div>
</div>
