{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/content/products/rip.css' %}" />
<div class="photo" style="background-image: url(/media/{{ image1 }});">

</div>
<div class="description">
    <div class="text">
        <p>Станции катодной защиты ПРОТРОН предназначены для использования в комплексных системах электрохимической защиты подземных металлических сооружений от коррозии.</p>
        <p>Предлагаемые станции катодной защиты являются оборудованием нового поколения, выполнены на базе резонансного, высокочастотного, регулируемого, транзисторного преобразователя собственной разработки. Преобразователь и способ преобразования защищены евразийским патентом № 008526 и европейским патентом № 1504517</p>
        <p>Полученное техническое решение позволило:</p>
        <ul>
            <li>Получить высокий коэффициент полезного действия (КПД) – до 93% в номинальном режиме</li>
            <li>Достигнуть значение коэффициента мощности до 0.9 в номинальном режиме без корректора мощности</li>
            <li>Получить надежность СКЗ ПРОТРОН сравнимую с надежностью лучших мировых образцов</li>
            <li>Малые габариты и малый вес, что существенно упрощает процесс монтажа и последующего обслуживания</li>
        </ul>
        <p>СКЗ «ПРОТРОН» надежна работает во всех возможных режимах, а также в режимах короткого замыкания и обрыва в цепи нагрузки. При этом не требуется наличия специальных быстродействующих защит. СКЗ не боятся резких бросков или пропадания / появления питающего напряжения.</p>
    </div>
</div>
<div class="photo" style="background-image: url(/media/{{ image2 }});">

</div>
<div class="description">
    <div class="text">
        <p>В зависимости от исполнения станции обладают основными и дополнительными функциями:</p>
        <ul>
            <li>Режим стабилизации выходного тока;</li>
            <li>Режим стабилизации выходного напряжения;</li>
            <li>Режим автоматического поддержание защитного потенциала относительно электрода сравнения;</li>
            <li>Цифровая индикация текущих параметров</li>
        </ul>
        <p>Дополнительные функции (по желанию заказчика):</p>
        <ul>
            <li>учет времени наличия заданного потенциала на защищаемом объекте;</li>
            <li>учет общего времени наработки;</li>
            <li>дистанционное управление и сбор данных, посредством интерфейса RS232 или RS485 в случае проводной связи и TCP в случае GSM доступа;</li>
            <li>учет потребляемой электроэнергии с помощью эл.счетчика.</li>
        </ul>
    </div>
</div>