<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {% load staticfiles %}
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
    <header>
        <ul>
            <li><p><a href="/">Протрон</a></p></li>
            <li class="descr">Разработка и производство<br />силовой электроники</li>
            <li class="item">Продукция</li>
            <li class="item">Контакты</li>
            <li class="item">Наши проекты</li>
            <li class="item">О нас</li>
        </ul>
        <div class="topline">{{ message }}</div>
    </header>
    <div class="body-content">
{% block content %}{% endblock %}
    </div>
        <footer>
            <content>
                <!--<a class="header__link" href="mailto:info@archi.ru">
                    <a class="header__link" href="http://protron.ru/kontakty/">-->
                <p class="adress">г. Москва ул. Барклая д. 6 стр.5</p>
                <p class="phone"><i class="fa fa-phone img-24" aria-hidden="true"></i>+7(499)-550-30-25</p>
                <p class="company">Разработка и производство силовой электроники<br />© 2019 ПРОТРОН</p>
                <p class="dev">Develop KomeR</p>
            </content>
        </footer>
<!--    
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>-->
{% block scripts %}
    {% endblock %}

</body>
</html>
